##################
# misc shell stuff
alias v='nvim'
alias o='xdg-open'
alias q='exit'
alias c='/usr/bin/clear'
alias x='/bin/systemctl suspend'
alias irc='/usr/bin/irssi -c google'
alias sudo='nocorrect /usr/bin/sudo'

#################
# 3rd party stuff
# tmux
alias t='tmx2'
alias ta='tmx2 attach-session -t'
alias tn='/usr/bin/tmx2 new-session -s'

##############
# google stuff
alias paste='/google/src/head/depot/eng/tools/pastebin'
alias dingo='/google/data/ro/projects/production/tools/dingo'

alias sp='/usr/bin/startpcl'
alias fu='/usr/bin/fileutil'
alias bc='/usr/bin/borgcfg'

alias analog=/google/data/ro/teams/borg-logs-ui/analog-cli
alias adm=/google/data/ro/projects/tonic/admin_session

# fig
alias h='nocorrect /usr/bin/hg'

# blaze
alias blaze='nocorrect /usr/bin/blaze'
alias bl='blaze'
alias blb='blaze build'
alias blt='blaze test'
alias blr='blaze run'

alias p=gcert
