backup() {
  suffix=`date +%Y-%m-%d.%H%M.bak`
  for f in $@; do
    echo mv $f $f.$suffix
    echo cp -p $f.$suffix $f
  done | sh -x
}

function v() {
  if test $# -gt 0; then
    echo "Starting nvim with args $@."
    env nvim "$@"
  elif test -f Session.vim; then
    echo "Session.vim found. Starting nvim -S."
    env nvim -S
  else
    echo "No Session.vim found. Running nvim -c Obsession."
    env nvim -c Obsession
  fi
}
