backup() {
  suffix=`date +%Y-%m-%d.%H%M.bak`
  for f in $@; do
    echo mv $f $f.$suffix
    echo cp -p $f.$suffix $f
  done | sh -x
}

# blaze-bin
function bb() {
  if [[ $PWD =~ '(.*)/blaze-bin(.*)' ]]; then
    cd "${match[1]}${match[2]}"
  else
    cd "${PWD/\/google3//google3/blaze-bin}"
  fi
}

# blaze-genfiles
function bg() {
  if [[ $PWD =~ '(.*)/blaze-genfiles(.*)' ]]; then
    cd "${match[1]}${match[2]}"
  else
    cd "${PWD/\/google3//google3/blaze-genfiles}"
  fi
}

function jt() {
    if [[ $PWD =~ '(.*)/javatests(.*)' ]]; then
        cd "${match[1]}/java${match[2]}"
    else
        cd "${PWD/\/google3\/java//google3/javatests}"
    fi
}

#############################################
# Getting to //experimental from a CitC root.
function ex() {
  echo "experimental/users/$USER"
}

function jx() {
  cd "$(ex)"
}

###################################
# Write and read from personal x20.
function xro() {
  echo "/google/data/ro/users/vi/victoralvarez/www/no_crawl"
}

function xrw() {
  echo "/google/data/rw/users/vi/victoralvarez/www/no_crawl"
}

function xmv() {
  mv $1 $(xrw) && echo "http://www/~victoralvarez/no_crawl/$1"
}

function xcp() {
  cp $1 $(xrw) && echo "http://www/~victoralvarez/no_crawl/$1"
}

function xls() {
  ls -l $(xro)
}

prodaccess() {
  /usr/bin/prodaccess "$@" && /google/data/ro/users/di/diamondm/engfortunes/fortune.sh --extra_space
}

cps() {
  echo "http://auto/cloud:${1}/pubsub/subscription?subscription=${2}"
  echo "http://go/goops-lookup/projects/${1}/subscriptions/${2}"
}
