backup() {
  suffix=`date +%Y-%m-%d.%H%M.bak`
  for f in $@; do
    echo mv $f $f.$suffix
    echo cp -p $f.$suffix $f
  done | sh -x
}

function v() {
  if test $# -gt 0; then
    env nvim "$@"
  elif test -f Session.vim; then
    env nvim -S
  else
    env nvim -c Obsession
  fi
}
