[user]
	name = Victor Alvarez
	email = victoralvarez@google.com
[core]
	editor = nvim
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
