[user]
  name = Victor Alvarez
  email = victor.alvarez@woven-planet.global
[core]
  editor = nvim
  excludesfile = /Users/victor.alvarez/.gitignore
  pager = delta
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  ph = push
  pl = pull
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  autoSetupRemote = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[merge]
  conflictStyle = zdiff3
